[build]
  command = "git clone https://github.com/flutter/flutter.git -b stable --depth 1 flutter && export PATH=\"$PATH:$(pwd)/flutter/bin\" && flutter precache --web && flutter build web --release"
  publish = "build/web"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
